<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="89c9b613-8083-45ef-aef9-9b599ec6a09b" Publisher="CN=Ian" Version="0.1.0.0" />
  <Properties>
    <PublisherDisplayName>Ian Williams</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <DisplayName>DragonAid Windows Client</DisplayName>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DragonAidWindowsClient.App">
      <VisualElements DisplayName="DragonAid" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DragonAid roleplaying game supplement." ForegroundText="light" BackgroundColor="#000000" ToastCapable="false">
        <DefaultTile ShowName="noLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>